{{#if data.queryCount}}
<div class="text-center">
  <img class="no-results-svg" src="/images/noResultsFoundSVG.svg" alt="No Results Found">

  {{!-- Text Animation --}}
  <div id="wrapper">
    <div id="container">
      <h1 id="no-results-text">No Results Found</h1>
    </div>
  </div>
</div>
{{/if}}