<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members App</title>
  {{!-- Bootstrap CDN --}}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  {{!-- Bootswatch CDN --}}
  {{!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css" rel="stylesheet"> --}}
  {{!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css" rel="stylesheet"> --}}
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/pulse/bootstrap.min.css" rel="stylesheet">

  {{!-- Font Awesome CDN --}}
  <script src="https://kit.fontawesome.com/d5e8337ebb.js" crossorigin="anonymous"></script>
  
  {{!-- CSS File Import --}}
  <link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>
  <div class="container mt-4">
    {{{body}}}
  </div>
  
</body>
</html>