/* Home Page CSS */
.overview {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  display: -webkit-box;
  line-height: 16px;
  max-height: 48px;
  -webkit-line-clamp: 3; /* Write the number of 
                              lines you want to be 
                              displayed */
  -webkit-box-orient: vertical;
}

.border-width {
  border-width: 2px !important;
}

.btn-view-more {
  margin-top: 10px;
  border-radius: 30px;
}
